.add-printer-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.add-printer-container h2 {
  margin-bottom: 1rem;
  color: #333;
}

.add-printer-container form div {
  margin-bottom: 1rem;
}

.add-printer-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.add-printer-container input,
.add-printer-container select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.add-printer-container input:focus,
.add-printer-container select:focus {
  border-color: #007bff;
}

.add-printer-container .button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Adjust the spacing between the buttons */
}

.add-printer-container button {
  flex: 1; /* Ensure buttons take equal width */
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-printer-container button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.add-printer-container button:hover:not(:disabled) {
  background-color: #0056b3;
}


.add-printer-container .error {
  color: #dc3545;
  margin-bottom: 1rem;
}

.size-checkboxes {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.size-checkboxes div {
  flex: 1 1 100px;
  display: flex;
  align-items: center;
}

.size-checkboxes input {
  margin-right: 0.5rem;
}

.custom-toast {
  background-color: #ffffff;
  border-left: 5px;
  color: #333333;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.custom-close-button {
  color: #000000;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}

.custom-close-button:hover {
  color: #000000;
}
